alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias back='cd - > /dev/null'
alias cd..='cd ..'
alias diskusage='df -P -kHl /'
alias epoch='date +%s'
alias filestats='stat -f'
# Print the size of each folder in the current diretory. Doesn't include hidden
# folders
alias filestorage='du -ckhs *'
alias filestoragehidden='du -hs .[^.]*'
# 3 actions - append the current buffer to the history file. Clear the history
# in memory, then re-read the file. Use case for this is you have 2 tabs.
# 1. Sync tab 2; 2. Sync tab 1. You should then have everything there in tab 1.
alias histsync='history -a; history -c; history -r'
alias httpserve='python -m http.server'
alias liquibase='liquibase --show-banner=false'
# OCI cli usage docs: https://docs.public.oneportal.content.oci.oraclecloud.com/en-us/iaas/Content/API/SDKDocs/cliusing.htm
alias ocipythonsdkversion='python -c "from oci import __version__ as ociver;print(ociver)"'
alias ocicompartmentls='printf "Using profile %s\n" "$(whichociprofile)" && oci iam compartment ls --query "data[*].{id: id, name: name}" --output table --sort-by name'
alias ociregionls='printf "Using profile %s\n" "$(whichociprofile)" && oci iam region ls --output table'
alias path='echo -e ${PATH//:/\\n}'
alias prettyjson='python -m json.tool'
alias prettyxml='xmllint --format -'
alias sql='sql -L'
alias svnnew='svn status | grep ^?'
alias t='terraform'
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias untar='tar xvf'
# Use bash instead of sh so we can use aliases. Put command in quotes
# TODO: watch -x bash -ic "trap 'exit' SIGINT; ls -Alt"
alias watch='watch -x bash -ic'
alias wifipassword='nmcli device wifi show-password'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m \"$method\""
done

# Containers
# From the install docs, method 2: https://helm.sh/docs/intro/install/
alias helmupdate='cd /tmp; curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 && chmod +x get_helm.sh && ./get_helm.sh && back'
alias k='kubectl'
alias kupdate='cd /tmp; curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"; chmod +x kubectl; sudo mv kubectl /usr/local/bin/kubectl; back'
alias m='minikube'
alias mupdate='cd /tmp; curl -s https://api.github.com/repos/kubernetes/minikube/releases/latest | jq -r ".tag_name" | xargs -I {} curl -LO https://github.com/kubernetes/minikube/releases/download/{}/minikube-linux-amd64; sudo install minikube-linux-amd64 /usr/local/bin/minikube; minikube version; back'
alias podmanbash='podman run -it --rm --entrypoint /bin/bash'
alias podmancls='podman container ls -a --format "table {{.ID}} {{.Image}} {{.RunningFor}} {{.Status}} {{.Names}}"'
# Sometimes you face the issue where you can't remove an image because it says
# it's in use by a container, but podman container ls --all returns nothing.
# Adding the storage will find this danging containers.
alias podmanlsdanging='podman ps --all --storage'
alias podmanvols='cd /home/trent/.local/share/containers/storage/volumes/'

# Package manager
# Show the 5 most recent actions. 7 = 2 for header + 5 for data
# Get more details with `dnf history info n` for a given entry
alias dnfrecent='dnf history | head -n 7'
# pkgfiles - suffix package name at the end
alias pkgfiles='dnf repoquery --installed -l'
