alias back='cd - > /dev/null'
alias prettyjson='python -m json.tool'
alias prettyxml='xmllint --format -'
alias path='echo -e ${PATH//:/\\n}'
alias svnnew='svn status | grep ^?'
# pkgfiles - suffix package name at the end
# e.g. `pkgfiles git-credential-libsecret``
alias pkgfiles='dnf repoquery --installed -l'
