#!/bin/bash

# Using RabbitVCS diff seems broken. Command to launch GUI of changes with
# previous revision of the file
svndiff() {

    while [[ $# -gt 0 ]]
    do
    key="$1"

    case $key in
        -r|--rev)
        REVISION="$2"
        shift # past argument
        shift # past value
        ;;
        *)    # unknown option
        FILE=$1
        shift # past argument
        ;;
    esac
    done

    if [[ -z "${FILE+x}" ]]
    then
        echo "[ERROR] File not set" >&2
        exit 1
    fi

    if [[ -z "${REVISION+x}" ]]
    then
        svn diff -r PREV:HEAD $FILE --diff-cmd meld
    else
        svn diff -r $REVISION $FILE --diff-cmd meld
    fi

    unset REVISION
    unset FILE
}

# Adapted from: https://stackoverflow.com/questions/9600382/svn-command-to-delete-all-locally-missing-files
svnrmmissing() {

    svn status | grep '^!' | sed -e s/"!       "//g | while read line
    do
        svn rm "$line"
    done

}

svnaddnew() {

    svn status | grep '^?' | sed -e s/"?       "//g | while read line
    do
        svn add "$line"
    done

}

sqlplus() {
    rlwrap sqlplus $1
}
