[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[push]
	default = simple
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	addall = !git add . && git commit
        padd = add -p
        diffdir = !git difftool -t meld --dir-diff
[core]
	excludesfile = ~/.gitignore
