[credential]
    helper = /usr/libexec/git-core/git-credential-libsecret
[push]
    default = current
[alias]
    addall = !git add . && git commit
    diffdir = !git difftool -t meld --dir-diff
    generic-commit = !git add . && git commit -m "Update" && git push
    grep = grep -I
    lg = log --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lggraph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lgmerges = log --abbrev-commit --decorate --format=format:'* %B' --merges
    padd = add -p
    prune-sync = "!git fetch -p && git branch --format '%(refname:short) %(upstream)' | awk '{if (!$2) print $1;}'" | xargs -r git branch -D
    rmunstaged = clean -df
    statuslong = status --long
[core]
    excludesfile = ~/.gitignore
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[init]
    defaultBranch = main
[help]
    # The number represents 1/10th of a seconds. So 30 = 3 seconds
    # This will autocorrect and run after the specified interval
    # e.g. git staatus -> git status will run after the period
    autocorrect = 30
[log]
    abbrevCommit = true
[status]
    short = true
    branch = true
